div {
  width: 500px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  text-align: center;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e4efc0+0,abbd73+100;Olive+3D+%232 */
  background: linear-gradient(
    to bottom,
    #e4efc0 0%,
    #abbd73 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
