@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Header */
.mainHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  font-family: "Rock Salt", cursive;
}
.mainHeader.fixed {
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
}
.mainHeader.fixed .progressWrap {
  display: block;
}
.mainHeader.fixed .headerWrap h1 {
  color: #000;
}
.headerWrap {
  position: relative;
  padding: 10px 20px;
}
.headerWrap h1 {
  font-size: 15px;
  color: #fff;
}
.progressWrap {
  position: relative;
  width: 100%;
  height: 1px;
  background: #d0d0d0;
  display: none;
}
.bar {
  position: absolute;
  width: 0;
  height: 100%;
  background: palevioletred;
  transition: all 0.4s;
}

/* Cover */
.coverWrap {
  position: fixed;
  top: 0;
  width: 100%;
  /* height: 800px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./img/bg2.jpg) center / cover no-repeat;
  font-family: "Rock Salt", cursive;
}
.dimd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.coverTitle {
  position: relative;
  text-align: center;
  z-index: 10;
}
.coverTitle h1 {
  color: #fff;
}
.coverTitle p {
  color: #cecece;
}

/* content */
.contentWrap {
  position: relative;
  background: #fff;
  z-index: 10;
}
.contentInnerWrap {
  margin: 0 auto;
  padding: 30px;
  width: 700px;
}
.contentInnerWrap h4 {
  font-size: 20px;
  margin: 20px 0 10px 0;
}
