@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: gm B;
  src: url(./font/GmarketSansTTFBold.ttf);
}
@font-face {
  font-family: gm M;
  src: url(./font/GmarketSansTTFMedium.ttf);
}
@font-face {
  font-family: gm L;
  src: url(./font/GmarketSansTTFLight.ttf);
}
body {
  font-family: gm L;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  background: #000;
}

/* gnb/video page */
#first {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  height: 2000px;
  position: relative;
}
#first .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 780px;
  background: #fff;
}
#first #main-bar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background: #fff;
  z-index: 100;
}
#first #main-bar .bar-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  gap: 3.125rem;
  width: 1280px;
  height: 100px;
}
#first #main-bar .bar-list a {
  font-family: GM M;
  font-size: 18px;
  cursor: pointer;
}
#first #main-bar .bar-list a:hover {
  color: #999;
}
#first #main-bar::before {
  content: attr();
}
#first #main-bar:hover {
  color: #ddd;
}
#first #main-bar.active {
  background: #000;
  color: #fff;
  transition: all 0.3s;
}
#first #main-bar.active:hover {
  color: #333;
}
#first #contents-box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1280px;
  height: 1080px;
}
#first #contents-box .video-type {
  position: absolute;
  top: 320px;
  left: 0;
  width: 1280px;
  height: 542px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
#first #contents-box .video-type video {
  width: 250px;
  height: 542px;
  border: 10px solid #373737;
  border-radius: 30px;
  background: #eee;
  -o-object-fit: cover;
     object-fit: cover;
}
#first #contents-box .gra-box {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  height: 300px;
}
#first #contents-box .gra-box span {
  width: 250px;
  height: 1000px;
  z-index: -10;
  background: linear-gradient(rgb(55, 55, 55), rgba(0, 0, 0, 0));
}

/* intro page */
#second {
  width: 100%;
  height: 3000px;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}
#second .hello-content .text-ani {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-right: 10px;
  color: #fff;
  font-size: 50px;
  font-family: GM B;
}
#second .hello-content .text-ani::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: #fff;
}
#second .hello-content .text-ani.active::after {
  display: none;
}
#second .hello-content .phone-box {
  width: 390px;
  height: 750px;
  border: 15px solid #373737;
  border-radius: 60px;
  position: relative;
}
#second .hello-content .phone-box div {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 120px;
  height: 26px;
  background: #373737;
  border-radius: 0 0 30px 30px;
}

/* 소개 페이지 */
#third {
  width: 100%;
  height: 1080px;
  display: grid;
  justify-content: center;
  align-items: center;
}
#third .hello-content {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 390px 565px;
  grid-gap: 110px;
  width: 1280px;
  height: 750px;
}
#third .hello-content .phone-box {
  width: 390px;
  height: 750px;
  border: 15px solid #373737;
  border-radius: 60px;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0), #000);
}
#third .hello-content .phone-box div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 390px;
  height: 750px;
  background: url(./img/sh.png) center/cover no-repeat;
  border-radius: 60px;
  z-index: -10;
}
#third .hello-content .my-content {
  position: absolute;
  right: 5%;
  bottom: 0;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}
#third .hello-content .my-content p:nth-child(1) {
  font-family: gm B;
  font-size: 80px;
  margin: 137px 0 81px 0;
}
#third .hello-content .my-content p:nth-child(2) {
  font-size: 32px;
  margin-bottom: 81px;
}
#third .hello-content .my-content .work p {
  font-size: 24px;
  font-family: gm L;
  letter-spacing: 0;
  margin-bottom: 20px;
}
#third .hello-content .my-content .work p:nth-child(3) {
  margin-bottom: 0;
}

/* 말풍선 페이지 01 */
#fourth {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1280px;
  height: 3500px;
  margin-bottom: 1500px;
}
#fourth .emoji {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
  height: 150px;
}
#fourth .emoji .emo-img {
  position: absolute;
  left: 0;
  bottom: 0;
}
#fourth .emoji .vector-wh {
  position: absolute;
  top: 50%;
  left: 92px;
}
#fourth .emoji .messages-01 {
  position: relative;
  width: 620px;
  height: 150px;
}
#fourth .emoji .messages-01 .message-short {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  width: 125px;
  height: 75px;
  background: #fff;
  text-align: center;
  line-height: 75px;
  border-radius: 30px;
  font-size: 36px;
}
#fourth .emoji .messages-01 .message-short span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
  animation: flow 1.5s linear infinite;
}
#fourth .emoji .messages-01 .message-short span:nth-child(2) {
  animation-delay: 0.2s;
}
#fourth .emoji .messages-01 .message-short span:nth-child(3) {
  animation-delay: 0.4s;
}
#fourth .emoji .messages-01 .message-long {
  cursor: pointer;
}
#fourth .emoji .messages-01 .message-long input[name=check-item] {
  display: none;
}
#fourth .emoji .messages-01 .message-long input[name=check-item]:checked + div {
  display: block;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  width: 500px;
  height: 75px;
  background: #fff;
  text-align: center;
  line-height: 75px;
  border-radius: 30px;
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  font-size: 36px;
}
#fourth .emoji .messages-01 .message-long input[name=check-item]:checked + div span {
  font-family: gm B;
}
#fourth .emoji .messages-01 .message-long div {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 620px;
  height: 300px;
}
#fourth .emoji .messages-01 .message-long div span {
  font-family: gm B;
}
#fourth .messages-02 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 125px;
  height: 75px;
}
#fourth .messages-02 .message-short {
  position: absolute;
  bottom: 0;
  width: 125px;
  height: 75px;
  background: #fff;
  text-align: center;
  line-height: 75px;
  border-radius: 30px;
  font-size: 36px;
}
#fourth .messages-02 .message-short span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
  animation: flow 1.5s linear infinite;
}
#fourth .messages-02 .message-short span:nth-child(2) {
  animation-delay: 0.2s;
}
#fourth .messages-02 .message-short span:nth-child(3) {
  animation-delay: 0.4s;
}
#fourth .messages-02 .vector-wh {
  position: absolute;
  bottom: 5px;
  right: -8px;
  transform: rotateY(-180deg);
}

@keyframes flow {
  0%, 100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}
/* 인스타 페이지 */
#fifth {
  width: 900px;
  height: 1500px;
  position: relative;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
}
#fifth .heading {
  width: 100%;
  padding: 0 40px;
  height: 255px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
#fifth .heading .outline {
  width: 260px;
  height: 260px;
  border: 5px solid transparent;
  background: linear-gradient(#000, #000) padding-box, linear-gradient(-140deg, #634edd, #eb3b9b, #fe4743, #fed06a) border-box;
  border-radius: 100%;
  position: relative;
}
#fifth .heading .outline .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 230px;
  background: url(./img/sh.png) center/cover no-repeat;
  border-radius: 100%;
}
#fifth .heading .total {
  width: 500px;
  height: 255px;
  display: grid;
  justify-content: start;
  align-items: center;
}
#fifth .heading .total .name {
  margin-top: 30px;
  font-family: gm B;
  font-size: 22px;
}
#fifth .heading .total .num {
  width: 500px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 0;
}
#fifth .heading .total .num div:nth-child(1) {
  justify-self: start;
}
#fifth .heading .total .num div:nth-child(3) {
  justify-self: end;
}
#fifth .heading .total div {
  font-family: gm M;
  font-size: 16px;
}
#fifth .heading .total div span {
  display: block;
  margin-bottom: -10px;
  font-family: gm B;
  font-size: 22px;
}
#fifth .line-icons {
  width: 900px;
  height: 70px;
  margin-top: 50px;
  border-top: 1.5px solid #fff;
  border-bottom: 1.5px solid #fff;
  display: grid;
  justify-content: center;
  align-items: center;
}
#fifth .line-icons div {
  width: 350px;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
#fifth .line-icons div span {
  width: 50px;
  height: 50px;
  font-size: 60px;
  text-align: center;
  margin-top: 3px;
}
#fifth .line-icons div span:last-child {
  opacity: 0.3;
}
#fifth .pics {
  width: 900px;
  height: 630px;
  margin-top: 45px;
}
#fifth .pics div {
  display: grid;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#fifth .pics div span {
  width: 270px;
  height: 270px;
  cursor: pointer;
  display: grid;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
#fifth .pics div span:nth-child(1) {
  background: url(./img/last.jpg) center/cover no-repeat;
}
#fifth .pics div span:nth-child(2) {
  background: url(./img/aa.jpg) center/cover no-repeat;
}
#fifth .pics div span:nth-child(3) {
  background: url(./img/mon.jpg) center/cover no-repeat;
}
#fifth .pics div span:nth-child(4) {
  background: url(./img/busan.jpg) center/cover no-repeat;
}
#fifth .pics div span:nth-child(5) {
  background: url(./img/color.jpg) center/cover no-repeat;
}
#fifth .pics div span:nth-child(6) {
  background: url(./img/jeju.jpg) center/cover no-repeat;
}
#fifth .pics div span:hover {
  opacity: 0.5;
  transform: scale(1.1);
}
#fifth .bottom-bar {
  position: absolute;
  bottom: 0;
  width: 900px;
  height: 120px;
  border-top: 1px solid #555;
}
#fifth .bottom-bar ul {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
}
#fifth .bottom-bar ul li {
  width: 180px;
  height: 120px;
  display: grid;
  justify-content: center;
  align-items: center;
}
#fifth .bottom-bar ul li:nth-child(3) span {
  font-size: 50px;
  border: 3px solid #fff;
  border-radius: 15px;
}
#fifth .bottom-bar ul li:nth-child(4)::before {
  content: "\f08a";
  font-family: fontawesome;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
}
#fifth .bottom-bar ul li:nth-child(4).active::before {
  content: "\f004";
  text-shadow: 0 0 20px #f00;
  color: #f00;
}
#fifth .bottom-bar ul li:last-child {
  display: grid;
  justify-content: center;
  align-items: center;
}
#fifth .bottom-bar ul li:last-child .outline {
  width: 60px;
  height: 60px;
  border: 2px solid transparent;
  background: linear-gradient(#000, #000) padding-box, linear-gradient(-140deg, #634edd, #eb3b9b, #fe4743, #fed06a) border-box;
  border-radius: 100%;
  position: relative;
}
#fifth .bottom-bar ul li:last-child .outline .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: url(./img/sh.png) center/cover no-repeat;
  border-radius: 100%;
}
#fifth .bottom-bar ul li span {
  font-size: 60px;
}

/* 말풍선 페이지 02 */
#sixth {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1280px;
  height: 3500px;
  margin-bottom: 1500px;
}
#sixth .emoji {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
  height: 150px;
}
#sixth .emoji .emo-img {
  position: absolute;
  left: 0;
  bottom: 0;
}
#sixth .emoji .vector-wh {
  position: absolute;
  top: 50%;
  left: 92px;
}
#sixth .emoji .messages-01 {
  position: relative;
  width: 620px;
  height: 150px;
}
#sixth .emoji .messages-01 .message-short {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  width: 125px;
  height: 75px;
  background: #fff;
  text-align: center;
  line-height: 75px;
  border-radius: 30px;
  font-size: 36px;
}
#sixth .emoji .messages-01 .message-short span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
  animation: flow 1.5s linear infinite;
}
#sixth .emoji .messages-01 .message-short span:nth-child(2) {
  animation-delay: 0.2s;
}
#sixth .emoji .messages-01 .message-short span:nth-child(3) {
  animation-delay: 0.4s;
}
#sixth .emoji .messages-01 .message-long {
  cursor: pointer;
}
#sixth .emoji .messages-01 .message-long input[name=check-item] {
  display: none;
}
#sixth .emoji .messages-01 .message-long input[name=check-item]:checked + div {
  display: block;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  width: 500px;
  height: 150px;
  background: #fff;
  text-align: center;
  line-height: 45px;
  border-radius: 30px;
  font-size: 36px;
  padding-top: 10px;
}
#sixth .emoji .messages-01 .message-long input[name=check-item]:checked + div span {
  font-family: gm B;
}
#sixth .emoji .messages-01 .message-long div {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 620px;
  height: 300px;
}
#sixth .emoji .messages-01 .message-long div span {
  font-family: gm B;
}
#sixth .messages-02 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 125px;
  height: 75px;
}
#sixth .messages-02 .message-short {
  position: absolute;
  bottom: 0;
  width: 125px;
  height: 75px;
  background: #fff;
  text-align: center;
  line-height: 75px;
  border-radius: 30px;
  font-size: 36px;
}
#sixth .messages-02 .message-short span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
  animation: flow 1.5s linear infinite;
}
#sixth .messages-02 .message-short span:nth-child(2) {
  animation-delay: 0.2s;
}
#sixth .messages-02 .message-short span:nth-child(3) {
  animation-delay: 0.4s;
}
#sixth .messages-02 .vector-wh {
  position: absolute;
  bottom: 5px;
  right: -8px;
  transform: rotateY(-180deg);
}

/* 말풍선 페이지 03 */
#eighth {
  width: 100%;
  height: 100vh;
  background: #fff;
}
#eighth article {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1280px;
  height: 3500px;
  margin-bottom: 1500px;
}
#eighth article .emoji {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
  height: 150px;
  color: #fff;
}
#eighth article .emoji .emo-img {
  position: absolute;
  left: 0;
  bottom: 0;
}
#eighth article .emoji .vector-bk {
  position: absolute;
  top: 50%;
  left: 92px;
}
#eighth article .emoji .messages-01 {
  position: relative;
  width: 620px;
  height: 150px;
}
#eighth article .emoji .messages-01 .message-short {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  width: 125px;
  height: 75px;
  background: #000;
  text-align: center;
  line-height: 75px;
  border-radius: 30px;
  font-size: 36px;
}
#eighth article .emoji .messages-01 .message-short span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  animation: flow 1.5s linear infinite;
}
#eighth article .emoji .messages-01 .message-short span:nth-child(2) {
  animation-delay: 0.2s;
}
#eighth article .emoji .messages-01 .message-short span:nth-child(3) {
  animation-delay: 0.4s;
}
#eighth article .emoji .messages-01 .message-long {
  cursor: pointer;
}
#eighth article .emoji .messages-01 .message-long input[name=check-item] {
  display: none;
}
#eighth article .emoji .messages-01 .message-long input[name=check-item]:checked + div {
  display: block;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  width: 500px;
  height: 120px;
  background: #000;
  text-align: center;
  line-height: 45px;
  border-radius: 30px;
  font-size: 36px;
  padding-top: 17px;
}
#eighth article .emoji .messages-01 .message-long input[name=check-item]:checked + div span {
  font-family: gm B;
}
#eighth article .emoji .messages-01 .message-long div {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 620px;
  height: 300px;
}
#eighth article .emoji .messages-01 .message-long div span {
  font-family: gm B;
}
#eighth article .messages-02 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 125px;
  height: 75px;
}
#eighth article .messages-02 .message-short {
  position: absolute;
  bottom: 0;
  width: 125px;
  height: 75px;
  background: #000;
  text-align: center;
  line-height: 75px;
  border-radius: 30px;
  font-size: 36px;
}
#eighth article .messages-02 .message-short span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  animation: flow 1.5s linear infinite;
}
#eighth article .messages-02 .message-short span:nth-child(2) {
  animation-delay: 0.2s;
}
#eighth article .messages-02 .message-short span:nth-child(3) {
  animation-delay: 0.4s;
}
#eighth article .messages-02 .vector-bk {
  position: absolute;
  bottom: 5px;
  right: -8px;
  transform: rotateY(-180deg);
}

/* 결론 페이지 */
#ninth {
  width: 100%;
  height: 100vh;
  background: #fff;
}

/* 작업물 페이지 */
#tenth {
  width: 100%;
  height: 100vh;
  background: #fff;
}

/* contact page */
#eleventh {
  width: 100%;
  height: 100vh;
  background: #fff;
}
#eleventh .last-pics ul {
  width: 1280px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}/*# sourceMappingURL=style01.css.map */